
  body {background-color:powderblue; }
  h1,h2 { color:black; margin-left: 40px; letter-spacing:1em; text-transform:uppercase; }
   p { color: blue; margin-left: 70px; letter-spacing:3em;}
   h3 { color:maroon; margin-left: 80px; letter-spacing:2em; text-transform:lowercase; }

